{% extends 'base.html' %}
{% load static %}
{% block css %}
body{
    background-color: antiquewhite;
}
.row{
margin: 40px 10px;
}
}
.card{
margin: 20px 10px;
}
{% endblock css %}
{% block content %}
<div>
    <canvas id="tutorial" width="500" height="500"></canvas>
</div>
<script>
document.getElementsByClassName("nav-link")[3].classList.add("active");

var canvas = document.getElementById('tutorial');
var ss = canvas.getContext('2d');
var dered = [[65, 65], [135, 135], [65, 135], [135, 65]];
var red = [[65, 65], [135, 135], [65, 135], [135, 65]];
var degreen = [[360, 65], [430, 135], [360, 135], [430, 65]];
var green = [[360, 65], [430, 135], [360, 135], [430, 65]];
var deyellow = [[360, 360], [430, 430], [360, 430], [430, 360]];
var yellow = [[360, 360], [430, 430], [360, 430], [430, 360]];
var deblue = [[65, 360], [135, 430], [65, 430], [135, 360]];
var blue = [[65, 360], [135, 430], [65, 430], [135, 360]];
var turns = ["red", "green", "yellow", "blue"];
var nameturn = [red,green,yellow,blue];
var denameturn = [dered,degreen,deyellow,deblue];
var turn = 3;
var ne = 0;
var redindex = [0,0,0,0];
var greenindex = [0,0,0,0];
var yellowindex = [0,0,0,0];
var blueindex = [0,0,0,0];
var positions = [];
var playerr;
var presentindexx;
var fastindexx;
var dice = 0

function ava(player,tu,ind,index) {
    if (index[ind]+ne <= 56){
        var avaborder = new Path2D();
        avaborder.arc(player[0],player[1],13,0,Math.PI*2,true);
        ss.strokeStyle = "black";
        ss.stroke(avaborder);
        player[2] = "s";
        pos(turns[tu])
        // alert("This is in ava " + (player) + " " + (player));
        canvas.addEventListener("click",function(e){
            if (player[2] == "s"){
                if (player[0]-17 < e.clientX-8 && player[1]-17+canvas.offsetTop < e.clientY-8 && player[0]+17 > e.clientX-8 && (canvas.offsetTop+player[1])+17 > e.clientY-8){
                    for (let i = 0; i < 4; i++) {
                        if (denameturn[tu][i][0]-17 < e.clientX-8 && denameturn[tu][i][1]-17+canvas.offsetTop < e.clientY-8 && denameturn[tu][i][0]+17 > e.clientX-8 && (canvas.offsetTop+denameturn[tu][i][1])+17 > e.clientY-8){
                            ne = 0
                        }
                    }
                    playerr = player ;
                    presentindexx = index[ind] ;
                    fastindexx = index[ind]+ne ;
                    formotion()
                    index[ind] += ne;
                    // for (let i = 0; i < 4; i++) {
                    //     if (i != tu){
                    //         for (let j = 0; j < 4; j++) {
                    //             if (player[0] == nameturn[i][j][0] && player[1] == nameturn[i][j][1]){
                        //                 nameturn[i][j] = denameturn[i][j]
                    //             }
                    //         }
                    //     }
                    // }
                    for (let i = 0; i < 4; i++) {
                        if (nameturn[tu][i][2] == "s"){
                            if (nameturn[tu][i][0] == denameturn[tu][i][0] && nameturn[tu][i][1] == denameturn[tu][i][1]){
                                nameturn[tu][i][2] = undefined;
                            }
                            else{
                                nameturn[tu][i][2] = "n";
                            }
                        }
                    }
                }
            }
        })
    }
    else {
        ss.clearRect(0, 0, canvas.width, canvas.height)
        start()
        players(red, "rgb(255, 0, 0)")
        players(green, "rgb(0, 255, 0)")
        players(yellow, "rgb(255, 255, 0)")
        players(blue, "rgb(0, 0, 255)")
        ne = 0;
    }
}
function forcube(x,y,size) {
    // ss.moveTo(x,y);
    // ss.lineTo(x+size,y-size);
    // ss.lineTo(x+(2*size),y);
    // ss.lineTo(x+(2*size),y+(size+(size/2)));
    // ss.lineTo(x+size,(y+(size+(size/2))-size));
    // ss.lineTo(x,y+(size+(size/2)));
    // ss.lineTo(x,y);
    // ss.moveTo(x+size,y-size);
    // ss.lineTo(x+size,y-size+(size+(size/2)));
    // ss.moveTo(x,y+(size+(size/2)));
    // ss.lineTo(x+size,y+((2*size)+(size/2)));
    // ss.lineTo(x+(2*size),y+(size+(size/2)))
    // ss.stroke()
    ss.moveTo(x,y);
    ss.lineTo(x+size,y-size);
    ss.lineTo(x+(2*size),y);
    ss.lineTo(x+(2*size),y+size);
    ss.lineTo(x+size,y+(2*size));
    ss.lineTo(x,y+size);
    ss.lineTo(x,y)
    ss.fillStyle = "white"
    ss.fill()

    ss.moveTo(x,y);
    ss.lineTo(x+size,y-size);
    ss.lineTo(x+(2*size),y);
    ss.lineTo(x+(2*size),y+size);
    ss.lineTo(x+size,y);
    ss.lineTo(x,y+size);
    ss.lineTo(x,y);
    ss.moveTo(x+size,y-size);
    ss.lineTo(x+size,y);
    ss.moveTo(x,y+size);
    ss.lineTo(x+size,y+(2*size));
    ss.lineTo(x+(2*size),y+size)
    ss.stroke()
}
function pos(color) {
    if (color == "red") {
        x1 = 0;
        y1 = 0;
        x2 = 500;
        y2 = 500;
    }
    else if (color == "blue") {
        x1 = 0;
        y1 = 500;
        x2 = 500;
        y2 = 0
    }
    else if (color == "green") {
        x1 = 500;
        y1 = 0;
        x2 = 0;
        y2 = 500;
    }
    else if (color == "yellow") {
        x1 = 500;
        y1 = 500;
        x2 = 0;
        y2 = 0;
    }
    for (let i = 0; i < 5; i++) {
        if (x1 == 0) {
            if (y1 == 0) {
                positions[i] = [(34 * (i + 1)) + 17, 220]
            }
            else if (y1 == 500) {
                positions[i] = [220, 500 - (17 + (34 * (i + 1)))]
            }
        }
        else if (x1 == 500) {
            if (y1 == 0) {
                positions[i] = [280, (34 * (i + 1)) + 17]
            }
            else if (x1 == 500) {
                positions[i] = [500 - (17 + (34 * (i + 1))), 280]
            }
        }
    }
    for (let i = 5; i < 11; i++) {
        if (x1 == 0) {
            if (y1 == 0) {
                positions[i] = [220, (205 - 17) - (34 * (i - 5))] // 1.
                positions[i + 7] = [280, (34 * (i - 5)) + 17]     // 2.
                positions[i + 13] = [(295 + 17) + (34 * (i - 5)), 220] // 3.
                positions[i + 20] = [500 - (17 + (34 * (i - 5))), 280] // 4.
                positions[i + 26] = [280, (295 + 17) + (34 * (i - 5))] // 5.
                positions[i + 33] = [220, 500 - (17 + (34 * (i - 5)))] // 6.
                positions[i + 39] = [(205 - 17) - (34 * (i - 5)), 280] // 7.
                positions[i + 45] = [(34 * (i - 4)) - 17, 250] // 8.
            }
            else if (y1 == 500) {
                positions[i] = [(205 - 17) - (34 * (i - 5)), 280]
                positions[i + 7] = [(34 * (i - 5)) + 17, 220]
                positions[i + 13] = [220, (205 - 17) - (34 * (i - 5))]
                positions[i + 20] = [280, 17 + (34 * (i - 5))]
                positions[i + 26] = [(295 + 17) + (34 * (i - 5)), 220]
                positions[i + 33] = [500 - (17 + (34 * (i - 5))), 280]
                positions[i + 39] = [280, (295 + 17) + (34 * (i - 5))]
                positions[i + 45] = [250, 500 - (17 + (34 * (i - 5)))]
            }
        }
        else if (x1 == 500) {
            if (y1 == 0) {
                positions[i] = [(295 + 17) + (34 * (i - 5)), 220]
                positions[i + 7] = [500 - (17 + (34 * (i - 5))), 280]
                positions[i + 13] = [280, (295 + 17) + (34 * (i - 5))]
                positions[i + 20] = [220, 500 - (17 + (34 * (i - 5)))]
                positions[i + 26] = [(205 - 17) - (34 * (i - 5)), 280]
                positions[i + 33] = [(34 * (i - 5)) + 17, 220]
                positions[i + 39] = [220, (205 - 17) - (34 * (i - 5))]
                positions[i + 45] = [250, 17 + (34 * (i - 5))]
            }
            else if (x1 == 500) {
                positions[i] = [280, (295 + 17) + (34 * (i - 5))]
                positions[i + 7] = [220, 500 - (17 + (34 * (i - 5)))]
                positions[i + 13] = [(205 - 17) - (34 * (i - 5)), 280]
                positions[i + 20] = [(34 * (i - 5)) + 17, 220]
                positions[i + 26] = [220, (205 - 17) - (34 * (i - 5))]
                positions[i + 33] = [280, 17 + (34 * (i - 5))]
                positions[i + 39] = [(295 + 17) + (34 * (i - 5)), 220]
                positions[i + 45] = [500 - (17 + (34 * (i - 5))), 250]
            }
        }
    }
    if (x1 == 0) {
        if (y1 == 0) {
            positions[11] = [250, 17]
            positions[24] = [500 - 17, 250]
            positions[37] = [250, 500 - 17]
            positions[56] = [positions[55][0]+34,positions[55][1]]
        }
        else if (y1 == 500) {
            positions[11] = [17, 250]
            positions[24] = [250, 17]
            positions[37] = [500 - 17, 250]
            positions[56] = [positions[55][0],positions[55]-34]
        }
    }
    else if (x1 == 500) {
        if (y1 == 0) {
            positions[11] = [500 - 17, 250]
            positions[24] = [250, 500 - 17]
            positions[37] = [17, 250]
            positions[56] = [positions[55][0],positions[55]+34]
        }
        else if (x1 == 500) {
            positions[11] = [250, 500 - 17]
            positions[24] = [17, 250]
            positions[37] = [250, 17]
            positions[56] = [positions[55][0]-34,positions[55]]
        }
    }

}


function checkdub(color) {
    for (let i = 0; i < 3; i++) {
        for (let j = i + 1; j < 4; j++) {
            if (color[i][0] == color[j][0] && color[i][1] == color[j][1]) {
                color[j][1] -= 5;
                if (color == red) {
                    players(color, "rgb(255, 0, 0)")
                }
                else if (color == green) {
                    players(color, "rgb(0, 255, 0)")
                }
                else if (color == yellow) {
                    players(color, "rgb(255, 255, 0)")
                }
                else if (color == blue) {
                    players(color, "rgb(0, 0, 255)")
                }
            }
        }
    }

}

function formotion() {
    ss.clearRect(0, 0, canvas.width, canvas.height)
    start()
    players(red, "rgb(255, 0, 0)")
    players(green, "rgb(0, 255, 0)")
    players(yellow, "rgb(255, 255, 0)")
    players(blue, "rgb(0, 0, 255)")
    if (presentindexx !== fastindexx+1) {
        try {
            if (playerr[0] !== positions[presentindexx][0]){
                if (playerr[0] > positions[presentindexx][0]){
                    playerr[0] -= 1;
                }
                else if (playerr[0] < positions[presentindexx][0]){
                    playerr[0] += 1;
                }
            }
            if (playerr[1] !== positions[presentindexx][1]){
                if (playerr[1] > positions[presentindexx][1]){
                    playerr[1] -= 1;
                }
                else if (playerr[1] < positions[presentindexx][1]){
                    playerr[1] += 1;
                }
            }
            if (playerr[0] == positions[presentindexx][0] && playerr[1] == positions[presentindexx][1]){
                presentindexx += 1;
            }      
            setTimeout(formotion,1)
        } 
        catch (error) {
            ss.clearRect(0, 0, canvas.width, canvas.height)
            start()
            players(red, "rgb(255, 0, 0)")
            players(green, "rgb(0, 255, 0)")
            players(yellow, "rgb(255, 255, 0)")
            players(blue, "rgb(0, 0, 255)")
            playerr[2] = undefined;
            checkdub(nameturn[turn]);
            ne = 0;
            presentindexx = undefined;
            fastindexx = undefined;
        }
    }
    else {
        playerr[2] = "n";
        // alert()
        checkdub(nameturn[turn])
        ne = 0
        presentindexx = undefined;
        fastindexx = undefined;
    }
    
}

function start() {
    ss.clearRect(0, 0, canvas.width, canvas.height)
    ss.beginPath()

    // divider line
    ss.moveTo(235, 0)
    ss.lineTo(235, 500)
    ss.moveTo(265, 0)
    ss.lineTo(265, 500)
    // divider line
    ss.moveTo(0, 235)
    ss.lineTo(500, 235)
    ss.moveTo(0, 265)
    ss.lineTo(500, 265)

    ss.fillStyle = "rgb(255, 70, 70)"
    ss.fillRect(34, 205, 34, 30)
    ss.fillRect(34, 235, 34 * 5, 30)

    ss.fillStyle = "rgb(70, 255, 70)"
    ss.fillRect(265, 34, 30, 34)
    ss.fillRect(235, 34, 30, 34 * 5)


    ss.fillStyle = "rgb(255, 255, 70)"
    ss.fillRect(295 + 34 * 4, 265, 34, 30)
    ss.fillRect(295, 235, 34 * 5, 30)

    ss.fillStyle = "rgb(70, 70, 255)"
    ss.fillRect(205, 295 + 34 * 4, 30, 34)
    ss.fillRect(235, 295, 30, 34 * 5)

    // small lines
    for (let i = 0; i <= 6; i++) {
        ss.moveTo(205, 34 * i)
        ss.lineTo(295, 34 * i)

        ss.moveTo(34 * i, 205)
        ss.lineTo(34 * i, 295)

        ss.moveTo(205, 295 + 34 * i)
        ss.lineTo(295, 295 + 34 * i)

        ss.moveTo(295 + 34 * i, 205)
        ss.lineTo(295 + 34 * i, 295)
    }
    ss.stroke()

    ss.clearRect(205, 205, 90, 90)
    var reddicebox = new Path2D();
    ss.fillStyle = "rgb(255, 70, 70)";
    reddicebox.moveTo(205,205);
    reddicebox.lineTo(250,250);
    reddicebox.lineTo(205,295);
    ss.fill(reddicebox)

    var greendicebox = new Path2D();
    ss.fillStyle = "rgb(70, 255, 70)";
    greendicebox.moveTo(205,205);
    greendicebox.lineTo(250,250);
    greendicebox.lineTo(295,205);
    ss.fill(greendicebox)

    var yellowdicebox = new Path2D();
    ss.fillStyle = "rgb(255, 255, 70)";
    yellowdicebox.moveTo(295,205);
    yellowdicebox.lineTo(250,250);
    yellowdicebox.lineTo(295,295);
    ss.fill(yellowdicebox)

    var bluedicebox = new Path2D();
    ss.fillStyle = "rgb(70, 70, 255)";
    bluedicebox.moveTo(295,295);
    bluedicebox.lineTo(250,250);
    bluedicebox.lineTo(205,295);
    ss.fill(bluedicebox)

    ss.fillStyle = "rgb(255, 70, 70)"
    ss.fillRect(0, 0, 205, 205)
    roundedRect(ss, 35, 35, 130, 130, 20, "rgb(230, 204, 204)")
    ss.fillStyle = "rgb(70, 255, 70)";
    ss.fillRect(295, 0, 205, 205)
    roundedRect(ss, 330, 35, 130, 130, 20, "rgb(230, 204, 204)")
    ss.fillStyle = "rgb(255, 255, 70)"
    ss.fillRect(295, 295, 205, 205)
    roundedRect(ss, 330, 330, 130, 130, 20, "rgb(230, 204, 204)")
    ss.fillStyle = "rgb(70, 70, 255)"
    ss.fillRect(0, 295, 205, 205)
    roundedRect(ss, 35, 330, 130, 130, 20, "rgb(230, 204, 204)")
    ss.closePath()



    ss.beginPath()
    ss.fillStyle = "white"
    ss.moveTo(85, 65)
    ss.arc(65, 65, 20, 0, Math.PI * 2, true)
    ss.moveTo(155, 135)
    ss.arc(135, 135, 20, 0, Math.PI * 2, true)
    ss.moveTo(85, 135)
    ss.arc(65, 135, 20, 0, Math.PI * 2, true)
    ss.moveTo(155, 65)
    ss.arc(135, 65, 20, 0, Math.PI * 2, true)
    ss.fill()
    ss.closePath()

    ss.beginPath()
    ss.fillStyle = "white"
    ss.moveTo(380, 65)
    ss.arc(360, 65, 20, 0, Math.PI * 2, true)
    ss.moveTo(450, 135)
    ss.arc(430, 135, 20, 0, Math.PI * 2, true)
    ss.moveTo(380, 135)
    ss.arc(360, 135, 20, 0, Math.PI * 2, true)
    ss.moveTo(450, 65)
    ss.arc(430, 65, 20, 0, Math.PI * 2, true)
    ss.fill()
    ss.closePath()

    ss.beginPath()
    ss.fillStyle = "white"
    ss.moveTo(380, 360)
    ss.arc(360, 360, 20, 0, Math.PI * 2, true)
    ss.moveTo(450, 430)
    ss.arc(430, 430, 20, 0, Math.PI * 2, true)
    ss.moveTo(380, 430)
    ss.arc(360, 430, 20, 0, Math.PI * 2, true)
    ss.moveTo(450, 360)
    ss.arc(430, 360, 20, 0, Math.PI * 2, true)
    ss.fill()
    ss.closePath()

    ss.beginPath()
    ss.fillStyle = "white"
    ss.moveTo(85, 360)
    ss.arc(65, 360, 20, 0, Math.PI * 2, true)
    ss.moveTo(155, 430)
    ss.arc(135, 430, 20, 0, Math.PI * 2, true)
    ss.moveTo(85, 430)
    ss.arc(65, 430, 20, 0, Math.PI * 2, true)
    ss.moveTo(155, 360)
    ss.arc(135, 360, 20, 0, Math.PI * 2, true)
    ss.fill()
    ss.closePath()

}


function numb() {
    ss.beginPath();
    ss.fillStyle = turns[turn]
    n = Math.floor(Math.random() * 6)
    if (n == 1) {
        ss.moveTo(255, 255);
        ss.arc(250, 250, 10, 0, Math.PI * 2, true);
            if (turn == 0){
                for (let i = 0; i < 4; i++) {
                    if (nameturn[0][i][0] != denameturn[0][i][0] && nameturn[0][i][1] != denameturn[0][i][1]){
                        ne = n;
                        ava(nameturn[0][i],0,i,redindex);
                    }
                } 
            }
            if (turn == 1){
                for (let i = 0; i < 4; i++) {
                    if (nameturn[1][i][0] != denameturn[1][i][0] && nameturn[1][i][1] != denameturn[1][i][1]){
                        ne = n;
                        ava(nameturn[1][i],1,i,greenindex);
                    }
                }
            }
            if (turn == 2){
                for (let i = 0; i < 4; i++) {
                    if (nameturn[2][i][0] != denameturn[2][i][0] && nameturn[2][i][1] != denameturn[2][i][1]){
                        ne = n;
                        ava(nameturn[2][i],2,i,yellowindex);
                    }
                }
            }
            if (turn == 3){
                for (let i = 0; i < 4; i++) {
                    if (nameturn[3][i][0] != denameturn[3][i][0] && nameturn[3][i][1] != denameturn[3][i][1]){
                        ne = n;
                        ava(nameturn[3][i],3,i,blueindex);
                    }
                }
            }
    }
    else if (n == 2) {
        ss.moveTo(240, 240);
        ss.arc(235, 235, 5, 0, Math.PI * 2, true);
        ss.moveTo(270, 270);
        ss.arc(265, 265, 5, 0, Math.PI * 2, true);
        if (turn == 0){
            for (let i = 0; i < 4; i++) {
                if (nameturn[0][i][0] != denameturn[0][i][0] && nameturn[0][i][1] != denameturn[0][i][1]){
                    ne = n;
                    ava(nameturn[0][i],0,i,redindex);
                }
            } 
        }
        if (turn == 1){
            for (let i = 0; i < 4; i++) {
                if (nameturn[1][i][0] != denameturn[1][i][0] && nameturn[1][i][1] != denameturn[1][i][1]){
                    ne = n;
                    ava(nameturn[1][i],1,i,greenindex);
                }
            }
        }
        if (turn == 2){
            for (let i = 0; i < 4; i++) {
                if (nameturn[2][i][0] != denameturn[2][i][0] && nameturn[2][i][1] != denameturn[2][i][1]){
                    ne = n;
                    ava(nameturn[2][i],2,i,yellowindex);
                }
            }
        }
        if (turn == 3){
            for (let i = 0; i < 4; i++) {
                if (nameturn[3][i][0] != denameturn[3][i][0] && nameturn[3][i][1] != denameturn[3][i][1]){
                    ne = n;
                    ava(nameturn[3][i],3,i,blueindex);
                }
            }
        }
    }
    else if (n == 3) {
        ss.moveTo(240, 240);
        ss.arc(235, 235, 5, 0, Math.PI * 2, true);
        ss.moveTo(255, 255);
        ss.arc(250, 250, 5, 0, Math.PI * 2, true);
        ss.moveTo(270, 270);
        ss.arc(265, 265, 5, 0, Math.PI * 2, true);
        if (turn == 0){
            for (let i = 0; i < 4; i++) {
                if (nameturn[0][i][0] != denameturn[0][i][0] && nameturn[0][i][1] != denameturn[0][i][1]){
                    ne = n;
                    ava(nameturn[0][i],0,i,redindex);
                }
            } 
        }
        if (turn == 1){
            for (let i = 0; i < 4; i++) {
                if (nameturn[1][i][0] != denameturn[1][i][0] && nameturn[1][i][1] != denameturn[1][i][1]){
                    ne = n;
                    ava(nameturn[1][i],1,i,greenindex);
                }
            }
        }
        if (turn == 2){
            for (let i = 0; i < 4; i++) {
                if (nameturn[2][i][0] != denameturn[2][i][0] && nameturn[2][i][1] != denameturn[2][i][1]){
                    ne = n;
                    ava(nameturn[2][i],2,i,yellowindex);
                }
            }
        }
        if (turn == 3){
            for (let i = 0; i < 4; i++) {
                if (nameturn[3][i][0] != denameturn[3][i][0] && nameturn[3][i][1] != denameturn[3][i][1]){
                    ne = n;
                    ava(nameturn[3][i],3,i,blueindex);
                }
            }
        }
    }
    else if (n == 4) {
        ss.moveTo(240, 240);
        ss.arc(235, 235, 5, 0, Math.PI * 2, true);
        ss.moveTo(270, 270);
        ss.arc(265, 265, 5, 0, Math.PI * 2, true);
        ss.moveTo(270, 240);
        ss.arc(265, 235, 5, 0, Math.PI * 2, true);
        ss.moveTo(240, 270);
        ss.arc(235, 265, 5, 0, Math.PI * 2, true);
        if (turn == 0){
            for (let i = 0; i < 4; i++) {
                if (nameturn[0][i][0] != denameturn[0][i][0] && nameturn[0][i][1] != denameturn[0][i][1]){
                    ne = n;
                    ava(nameturn[0][i],0,i,redindex);
                }
            } 
        }
        if (turn == 1){
            for (let i = 0; i < 4; i++) {
                if (nameturn[1][i][0] != denameturn[1][i][0] && nameturn[1][i][1] != denameturn[1][i][1]){
                    ne = n;
                    ava(nameturn[1][i],1,i,greenindex);
                }
            }
        }
        if (turn == 2){
            for (let i = 0; i < 4; i++) {
                if (nameturn[2][i][0] != denameturn[2][i][0] && nameturn[2][i][1] != denameturn[2][i][1]){
                    ne = n;
                    ava(nameturn[2][i],2,i,yellowindex);
                }
            }
        }
        if (turn == 3){
            for (let i = 0; i < 4; i++) {
                if (nameturn[3][i][0] != denameturn[3][i][0] && nameturn[3][i][1] != denameturn[3][i][1]){
                    ne = n;
                    ava(nameturn[3][i],3,i,blueindex);
                }
            }
        }
    }
    else if (n == 5) {
        ss.moveTo(240, 240);
        ss.arc(235, 235, 5, 0, Math.PI * 2, true);
        ss.moveTo(270, 270);
        ss.arc(265, 265, 5, 0, Math.PI * 2, true);
        ss.moveTo(255, 255);
        ss.arc(250, 250, 5, 0, Math.PI * 2, true);
        ss.moveTo(270, 240);
        ss.arc(265, 235, 5, 0, Math.PI * 2, true);
        ss.moveTo(240, 270);
        ss.arc(235, 265, 5, 0, Math.PI * 2, true);
        if (turn == 0){
            for (let i = 0; i < 4; i++) {
                if (nameturn[0][i][0] != denameturn[0][i][0] && nameturn[0][i][1] != denameturn[0][i][1]){
                    ne = n;
                    ava(nameturn[0][i],0,i,redindex);
                }
            } 
        }
        if (turn == 1){
            for (let i = 0; i < 4; i++) {
                if (nameturn[1][i][0] != denameturn[1][i][0] && nameturn[1][i][1] != denameturn[1][i][1]){
                    ne = n;
                    ava(nameturn[1][i],1,i,greenindex);
                }
            }
        }
        if (turn == 2){
            for (let i = 0; i < 4; i++) {
                if (nameturn[2][i][0] != denameturn[2][i][0] && nameturn[2][i][1] != denameturn[2][i][1]){
                    ne = n;
                    ava(nameturn[2][i],2,i,yellowindex);
                }
            }
        }
        if (turn == 3){
            for (let i = 0; i < 4; i++) {
                if (nameturn[3][i][0] != denameturn[3][i][0] && nameturn[3][i][1] != denameturn[3][i][1]){
                    ne = n;
                    ava(nameturn[3][i],3,i,blueindex);
                }
            }
        }
    }
    else if (n == 0) {
        ss.moveTo(240, 240);
        ss.arc(235, 235, 5, 0, Math.PI * 2, true);
        ss.moveTo(270, 270);
        ss.arc(265, 265, 5, 0, Math.PI * 2, true);
        ss.moveTo(240, 255);
        ss.arc(235, 250, 5, 0, Math.PI * 2, true);
        ss.moveTo(270, 255);
        ss.arc(265, 250, 5, 0, Math.PI * 2, true);
        ss.moveTo(270, 240);
        ss.arc(265, 235, 5, 0, Math.PI * 2, true);
        ss.moveTo(240, 270);
        ss.arc(235, 265, 5, 0, Math.PI * 2, true);
        if (turn == 0){
            for (let i = 0; i < 4; i++) {
                // if (nameturn[0][i][0] != denameturn[0][i][0] && nameturn[0][i][1] != denameturn[0][i][1]){
                    ne = 6;
                    ava(nameturn[0][i],0,i,redindex);
                // }
            } 
        }
        else if (turn == 1){
            for (let i = 0; i < 4; i++) {
                // if (nameturn[1][i][0] != denameturn[1][i][0] && nameturn[1][i][1] != denameturn[1][i][1]){
                    ne = 6;
                    ava(nameturn[1][i],1,i,greenindex);
                // }
            }
        }
        else if (turn == 2){
            for (let i = 0; i < 4; i++) {
                // if (nameturn[2][i][0] != denameturn[2][i][0] && nameturn[2][i][1] != denameturn[2][i][1]){
                    ne = 6;
                    ava(nameturn[2][i],2,i,yellowindex);
                // }
            }
        }
        else if (turn == 3){
            for (let i = 0; i < 4; i++) {
                // if (nameturn[3][i][0] != denameturn[3][i][0] && nameturn[3][i][1] != denameturn[3][i][1]){
                    ne = 6;
                    ava(nameturn[3][i],3,i,blueindex);
                // }
            }
        }
        // if (turn == 0) {
        //     ss.fill();
        //     ss.closePath()
        //     if (red[0][0] == 65, red[0][1] == 65) {
        //         red[0][0] = (34 * 2) - 17;
        //         red[0][1] = 220;
        //         redindex[0] = 0;
        //     }
        //     else if (red[1][0] == 135, red[1][1] == 135) {
        //         red[1][0] = (34 * 2) - 17;
        //         red[1][1] = 220;
        //         redindex[1] = 0;
        //     }
        //     else if (red[2][0] == 65, red[2][1] == 135) {
        //         red[2][0] = (34 * 2) - 17;
        //         red[2][1] = 220;
        //         redindex[2] = 0;
        //     }
        //     else if (red[3][0] == 135, red[3][1] == 65) {
        //         red[3][0] = (34 * 2) - 17;
        //         red[3][1] = 220;
        //         redindex[3] = 0;
        //     }
        //     checkdub(red)
        //     players(red, "red");
        // }
        // else if (turn == 1) {
        //     ss.fill();
        //     ss.closePath()
        //     if (green[0][0] == 360, green[0][1] == 65) {
        //         green[0][0] = 280;
        //         green[0][1] = (34 * 2) - 17;
        //     }
        //     else if (green[1][0] == 430, green[1][1] == 135) {
        //         green[1][0] = 280;
        //         green[1][1] = (34 * 2) - 17;
        //     }
        //     else if (green[2][0] == 360, green[2][1] == 135) {
        //         green[2][0] = 280;
        //         green[2][1] = (34 * 2) - 17;
        //     }
        //     else if (green[3][0] == 430, green[3][1] == 65) {
        //         green[3][0] = 280;
        //         green[3][1] = (34 * 2) - 17;
        //     }
        //     checkdub(green)
        //     players(green, "green");
        // }
        // else if (turn == 2) {
        //     ss.fill();
        //     ss.closePath()
        //     if (yellow[0][0] == 360, yellow[0][1] == 360) {
        //         yellow[0][0] = 295 + 34 * 5 - 17;
        //         yellow[0][1] = 280;
        //     }
        //     else if (yellow[1][0] == 430, yellow[1][1] == 430) {
        //         yellow[1][0] = 295 + 34 * 5 - 17;
        //         yellow[1][1] = 280;
        //     }
        //     else if (yellow[2][0] == 360, yellow[2][1] == 430) {
        //         yellow[2][0] = 295 + 34 * 5 - 17;
        //         yellow[2][1] = 280;
        //     }
        //     else if (yellow[3][0] == 430, yellow[3][1] == 360) {
        //         yellow[3][0] = 295 + 34 * 5 - 17;
        //         yellow[3][1] = 280;
        //     }
        //     checkdub(yellow)
        //     players(yellow, "yellow");
        // }
        // else if (turn == 3) {
        //     ss.fill();
        //     ss.closePath()
        //     if (blue[0][0] == 65, blue[0][1] == 360) {
        //         blue[0][0] = 220;
        //         blue[0][1] = 295 + 34 * 5 - 17;
        //     }
        //     else if (blue[1][0] == 135, blue[1][1] == 430) {
        //         blue[1][0] = 220;
        //         blue[1][1] = 295 + 34 * 5 - 17;
        //     }
        //     else if (blue[2][1] == 65, blue[2][1] == 430) {
        //         blue[2][0] = 220;
        //         blue[2][1] = 295 + 34 * 5 - 17;
        //     }
        //     else if (blue[3][0] == 135, blue[3][1] == 360) {
        //         blue[3][0] = 220;
        //         blue[3][1] = 295 + 34 * 5 - 17;
        //     }
        //     checkdub(blue)
        //     players(blue, "blue");
        // }
    }
    ss.fill();
    ss.closePath()
}

function players(player, playercolor) {
    ss.beginPath()
    ss.moveTo(player[0][0] + 10, player[0][1])
    ss.arc(player[0][0], player[0][1], 10, 0, Math.PI * 2, false)
    // ss.moveTo(player[0][0]-10,player[0][1])
    // ss.bezierCurveTo(player[0][0]+10,player[0][1],player[0][0]+10,player[0][1]-20,player[0][0],player[0][1]-20)
    // ss.moveTo(player[0][0]+10,player[0][1])
    // ss.bezierCurveTo(player[0][0]-10,player[0][1],player[0][0]-10,player[0][1]-20,player[0][0],player[0][1]-20)
    ss.stroke()
    ss.fillStyle = playercolor;
    ss.fill()
    ss.closePath()

    ss.beginPath()
    ss.moveTo(player[1][0] + 10, player[1][1])
    ss.arc(player[1][0], player[1][1], 10, 0, Math.PI * 2, false)
    // ss.moveTo(player[1][0]-10,player[1][1])
    // ss.bezierCurveTo(player[1][0]+10,player[1][1],player[1][0]+10,player[1][1]-20,player[1][0],player[1][1]-20)
    // ss.moveTo(player[1][0]+10,player[1][1])
    // ss.bezierCurveTo(player[1][0]-10,player[1][1],player[1][0]-10,player[1][1]-20,player[1][0],player[1][1]-20)
    ss.stroke()
    ss.fillStyle = playercolor;
    ss.fill()
    ss.closePath()
    
    ss.beginPath()
    ss.moveTo(player[2][0] + 10, player[2][1])
    ss.arc(player[2][0], player[2][1], 10, 0, Math.PI * 2, false)
    // ss.moveTo(player[2][0]-10,player[2][1])
    // ss.bezierCurveTo(player[2][0]+10,player[2][1],player[2][0]+10,player[2][1]-20,player[2][0],player[2][1]-20)
    // ss.moveTo(player[2][0]+10,player[2][1])
    // ss.bezierCurveTo(player[2][0]-10,player[2][1],player[2][0]-10,player[2][1]-20,player[2][0],player[2][1]-20)
    ss.stroke()
    ss.fillStyle = playercolor;
    ss.fill()
    ss.closePath()
    
    ss.beginPath()
    ss.moveTo(player[3][0] + 10, player[3][1])
    ss.arc(player[3][0], player[3][1], 10, 0, Math.PI * 2, false)
    // ss.moveTo(player[3][0]-10,player[3][1])
    // ss.bezierCurveTo(player[3][0]+10,player[3][1],player[3][0]+10,player[3][1]-20,player[3][0],player[3][1]-20)
    // ss.moveTo(player[3][0]+10,player[3][1])
    // ss.bezierCurveTo(player[3][0]-10,player[3][1],player[3][0]-10,player[3][1]-20,player[3][0],player[3][1]-20)
    ss.stroke()
    ss.fillStyle = playercolor;
    ss.fill()
    ss.closePath()
}


function dicero() {
    if (dice !== 0){
        ss.clearRect(205,205,90,90)
        ss.fillStyle = turns[turn]
        ss.fillRect(205, 205, 90, 90)
        forcube(225,231,25)
        dice = dice+1;
        setTimeout(dicero,200)
    }
    else if (dice == 1){
        ss.clearRect(205,205,90,90)
        ss.fillStyle = turns[turn]
        ss.fillRect(205, 205, 90, 90)
        forcube(275,295-26,-25)
        dice = dice+1;
        setTimeout(dicero,200)
    }
    if(dice == 0){
        ss.clearRect(205,205,90,90)
        ss.fillStyle = turns[turn]
        ss.fillRect(205, 205, 90, 90)
        roundedRect(ss, 225, 225, 50, 50, 10, "white");
        numb();
        dice = 0
        if (n == 0) {
            return
        }
        else if (turn == 3) {
            turn = 0
        }
        else if (n !== 0) {
            turn++
        }
    }
}
function roundedRect(ss, x, y, width, height, radius, color) {
    ss.beginPath();
    ss.moveTo(x, y + radius);
    ss.lineTo(x, y + height - radius);
    ss.arcTo(x, y + height, x + radius, y + height, radius);
    ss.lineTo(x + width - radius, y + height);
    ss.arcTo(x + width, y + height, x + width, y + height - radius, radius);
    ss.lineTo(x + width, y + radius);
    ss.arcTo(x + width, y, x + width - radius, y, radius);
    ss.lineTo(x + radius, y);
    ss.arcTo(x, y, x, y + radius, radius);
    ss.fillStyle = color
    ss.fill();
    ss.closePath()
}
start();

canvas.addEventListener('click', function (e) {
    if (presentindexx == undefined || fastindexx == undefined){
        if (ne == 0){
            if (e.clientX > 213 && e.clientY < 295+canvas.offsetTop && e.clientX < 303 && e.clientY > 205+canvas.offsetTop) {
                ss.clearRect(0, 0, canvas.width, canvas.height)
                start()
                dicero()
                players(red, "red")
                players(green, "green")
                players(yellow, "yellow")
                players(blue, "blue")
            }    
        }
    }
})
</script>
{% endblock content %}